.welcome-section {
  background-color: var(--color-bg);
  padding: 100px 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-content {
  max-width: 800px;
}

.welcome-content h2 {
  font-family: 'Inter', sans-serif;
  font-size: 2.2rem;
  color: #4b6043;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.welcome-content p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: var(--color-text-muted);
  line-height: 1.8;
  margin-bottom: 30px;
}

.welcome-content .btn {
  font-family: 'Inter', sans-serif;
  background-color: #4b6043;
  color: var(--color-white);
  border: none;
  padding: 12px 28px;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
  border-radius: 10px;
}

.welcome-content .btn:hover {
  background-color: #7b8d64;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .welcome-section {
    padding: 70px 5%;
  }

  .welcome-content h2 {
    font-size: 1.5rem;
  }

  .welcome-content p {
    font-size: 0.8rem;
  }
}