@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  scrollbar-color: #4b6043 #f0f0f0; 
  scrollbar-width: thick;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #2ecc71; 
  border-radius: 8px;
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b6043; 
}

a {
  text-decoration: none;
  transition: var(--transition);
}

a:hover, button:hover, [role="button"]:hover, .footer-link:hover { 
  cursor: pointer; 
}